<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>robs</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Rob&apos;s Dining Hall</string>
		<key>hours</key>
		<string>12:00-3:00</string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>unionMarket</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Union Market</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>trackside</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Trackside Grill</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>zeesRobs</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Zee&apos;s </string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>zeesExchange</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Zee&apos;s </string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>zeesQuaker</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Zee&apos;s </string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>zeesPolsky</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Zee&apos;s </string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>freshens</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Freshens</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>burgerFi</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>BurgerFi</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>burgerKingMarket</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Burger King</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>burgerKingHowe</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Burger King</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>crave</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Crave</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>euroGyro</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Euro Gyro</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>gioninos</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pionino&apos;s Pizzeria</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>hanini</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Hanini Subs</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>insomnia</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Insomnia Cookies</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>marcos</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Marco&apos;s Pizza</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>zubs</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Mr. Zubs</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>nuevo</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Nuevo Modern Mexican</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>nunzios</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Nunzio&apos;s Pizzeria</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>papaJohns</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Papa John&apos;s Pizza</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>pennStationHowe</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Penn Station</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>pennStationExchange</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Penn Station</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>pitaPit</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pita Pit</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>pizzaFire</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pizza Fire</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>pizzaHut</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pizza Hut</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>subwayMain</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>subwayUnion</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>subwayExchange</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>lockview</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>The Lockview</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>aladdins</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Aladin&apos;s Eatery</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>barleyHouse</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Barley House</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>bw3</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Buffalo Wild Wings</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>chipotleHowe</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chipotle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>chipotleMarket</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chipotle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>chickfila</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chick-fil-A</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>cilantro</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Cilantro Thai</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>cvs</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>CVS Pharmacy</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>daves</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Dave&apos;s Markets</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>eatnpark</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Eat &apos;n Park</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>fiveGuysHowe</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Five Guys Burgers &amp; Fries</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>fiveGuysMedina</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Five Guys Burgers &amp; Fries</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>giantEagleHowe</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>giantEagleWaterloo</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>giantEagleMD</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle Market District</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>trecasos</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Mary Coyle (Trecaso&apos;s)</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>spaghettiWH</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Spaghetti Warehouse</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>starz</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Starz Market</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>tacoBell</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Taco Bell</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
	<key>wednys</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Wendy&apos;s Hamburgers</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<false/>
	</dict>
</dict>
</plist>
