<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>burgerFi</key>
	<dict>
		<key>address</key>
		<string>2002 Portage Tr</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>BurgerFi</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>burgerKingMarket</key>
	<dict>
		<key>address</key>
		<string>671 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Burger King</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>burgerKingHowe</key>
	<dict>
		<key>290 Howe Ave</key>
		<string></string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Burger King</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>crave</key>
	<dict>
		<key>address</key>
		<string>57 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Crave</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>euroGyro</key>
	<dict>
		<key>address</key>
		<string>444 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Euro Gyro</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>gioninos</key>
	<dict>
		<key>address</key>
		<string>1522 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pionino&apos;s Pizzeria</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>hanini</key>
	<dict>
		<key>address</key>
		<string>390 Brown St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Hanini Subs</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>insomnia</key>
	<dict>
		<key>address</key>
		<string>367 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Insomnia Cookies</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>marcos</key>
	<dict>
		<key>address</key>
		<string>9 N Hawkins Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Marco&apos;s Pizza</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>zubs</key>
	<dict>
		<key>address</key>
		<string>812 W Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Mr. Zubs</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>nuevo</key>
	<dict>
		<key>address</key>
		<string>54 E Mill St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Nuevo Modern Mexican</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>nunzios</key>
	<dict>
		<key>address</key>
		<string>625 Grant St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Nunzio&apos;s Pizzeria</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>papaJohns</key>
	<dict>
		<key>address</key>
		<string>701 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Papa John&apos;s Pizza</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>pennStationHowe</key>
	<dict>
		<key>address</key>
		<string>753 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Penn Station</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>pennStationExchange</key>
	<dict>
		<key>address</key>
		<string>274 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Penn Station</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>pitaPit</key>
	<dict>
		<key>address</key>
		<string>325 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pita Pit</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>pizzaFire</key>
	<dict>
		<key>address</key>
		<string>22 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pizza Fire</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>pizzaHut</key>
	<dict>
		<key>address</key>
		<string>396 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Pizza Hut</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>subwayMain</key>
	<dict>
		<key>address</key>
		<string>348 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>subwayUnion</key>
	<dict>
		<key>address</key>
		<string>303 Carroll Street</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>subwayExchange</key>
	<dict>
		<key>address</key>
		<string>484 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Subway</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>lockview</key>
	<dict>
		<key>address</key>
		<string>207 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>The Lockview</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>aladdins</key>
	<dict>
		<key>address</key>
		<string>782 W Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Aladin&apos;s Eatery</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>barleyHouse</key>
	<dict>
		<key>address</key>
		<string>222 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Barley House</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>bw3</key>
	<dict>
		<key>address</key>
		<string>456 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Buffalo Wild Wings</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>chipotleHowe</key>
	<dict>
		<key>address</key>
		<string>371 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chipotle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>chipotleMarket</key>
	<dict>
		<key>address</key>
		<string>825 W Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chipotle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>chickfila</key>
	<dict>
		<key>address</key>
		<string>420 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Chick-fil-A</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>cilantro</key>
	<dict>
		<key>address</key>
		<string>326 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Cilantro Thai</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>cvs</key>
	<dict>
		<key>address</key>
		<string>590 E Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>CVS Pharmacy</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>daves</key>
	<dict>
		<key>address</key>
		<string>871 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Dave&apos;s Markets</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>eatnpark</key>
	<dict>
		<key>address</key>
		<string>200 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Eat &apos;n Park</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>fiveGuysHowe</key>
	<dict>
		<key>address</key>
		<string>753 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Five Guys Burgers &amp; Fries</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>fiveGuysMedina</key>
	<dict>
		<key>address</key>
		<string>3863 Medina Rd</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Five Guys Burgers &amp; Fries</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>giantEagleHowe</key>
	<dict>
		<key>address</key>
		<string>230 Howe Ave</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>giantEagleWaterloo</key>
	<dict>
		<key>address</key>
		<string>484 Waterloo Rd</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>giantEagleMD</key>
	<dict>
		<key>address</key>
		<string>2687 State Rd</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Giant Eagle Market District</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>trecasos</key>
	<dict>
		<key>address</key>
		<string>780 W Market St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Mary Coyle (Trecaso&apos;s)</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>spaghettiWH</key>
	<dict>
		<key>address</key>
		<string>510 S Main St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Spaghetti Warehouse</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>starz</key>
	<dict>
		<key>address</key>
		<string>300 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Starz Market</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>tacoBell</key>
	<dict>
		<key>address</key>
		<string>414 E Exchange St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Taco Bell</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>wednys</key>
	<dict>
		<key>address</key>
		<string>623 E Marker St</string>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Wendy&apos;s Hamburgers</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
</dict>
</plist>
