<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>robs</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Rob&apos;s Dining Hall</string>
		<key>hours</key>
		<string>12:00-3:00</string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
	<key>unionMarket</key>
	<dict>
		<key>coodinateX</key>
		<integer>0</integer>
		<key>coodinateY</key>
		<integer>0</integer>
		<key>site</key>
		<string></string>
		<key>name</key>
		<string>Union Market</string>
		<key>hours</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>swipes</key>
		<true/>
	</dict>
</dict>
</plist>
